USE [Julius]
GO
/****** Object:  Table [dbo].[T_NOTICIAS]    Script Date: 15/01/2022 11:47:34 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NOTICIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_CREATE] [nvarchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[IMAGE] [nvarchar](50) NULL,
	[TITULO] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_T_POST2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_USUARIOS]    Script Date: 15/01/2022 11:47:34 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[TOKEN] [nvarchar](300) NULL,
 CONSTRAINT [PK_T_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_T_USUARIOS] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_T_USUARIOS_1] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_NOTICIAS]  WITH CHECK ADD  CONSTRAINT [FK_T_NOTICIAS_T_NOTICIAS] FOREIGN KEY([USER_CREATE])
REFERENCES [dbo].[T_USUARIOS] ([USERNAME])
GO
ALTER TABLE [dbo].[T_NOTICIAS] CHECK CONSTRAINT [FK_T_NOTICIAS_T_NOTICIAS]
GO
